
#container {
max-width: 1000px;
width: 100%;
margin: 0 auto;
padding: 10px;
}


.bg-dark {
 background:#000 !important;
}

ul.navbar-nav {
 margin-left:50%;
}

p{
 text-align:left;
 line-height:180%;
}

.navbar {
 font-family: 'Montserrat', sans-serif;
 color: white;
 font-size: 1.25em;
}


.star {
  max-width: 15px;
  padding-right: 5px;
}

.red {
 color: #e0162b;
}

.blue {
 color: #0052a5;
}

.hero-image {
  width: 100%;
  max-width: 900px;
  text-align: center;

}


.photo {
  max-width: 500px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
}

.photo-box {
  max-width: 500px;
  margin: 0 auto;

}

.credit{
  text-align: right;
  font-size: 10px;
}

.cutline {
  font-size: 12px;
}

.head {
  text-align: center;
  font-size: 3em;
  font-weight: 700;
}

.subhead {
  text-align: center;
}

.footer {
  background-color: black;
  text-align: center;
  font-family: Montserrat, sans-serif;
  color: white;
  padding: 25px;
  height: 100px;

}
