
#container {
max-width: 1000px;
width: 100%;
margin: 0 auto;
padding: 10px;
}


.bg-dark {
 background:#000 !important;
}

ul.navbar-nav {
 margin-left:50%;
}

p{
 text-align:left;
 line-height:180%;
 font-family: 'PT Serif', serif;
 font-size: 1em;

}

.navbar {
 font-family: 'Montserrat', sans-serif;
 color: white;
 font-size: 1.25em;
}


.star {
  max-width: 15px;
  padding-right: 5px;
}

.red {
 color: #e0162b;
}

.blue {
 color: #0052a5;
}

a:link{
  text-decoration: none;
  color: #e0162b;
}

a:hover{
  text-decoration: none;
  color: #0052a5;
}

a:visited{
  text-decoration: none;
  color: #999
}

.hero-image {
  width: 100%;
  max-width: 900px;
  text-align: center;

}

.gun {
  text-align: center;
}

.chatter {
  margin: 100px;
}

.intro-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
  max-width: 800px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.star-center {
  text-align: center;
}

.stack-image {
  width:100%;
  max-width:900px;
  margin:0 auto;
  padding-top:30px;
}

.photo-box {
  max-width: 500px;
  margin: 0 auto;

}

.credit{
  text-align: right;
  font-size: 10px;
}

.caption {
 width:100%;
 max-width:900px;
 margin:0 auto;
 padding-bottom:30px;
 font-family: 'Montserrat', sans-serif;
 color:#999;
}


.graphic-container {
 padding-top:30px;
 padding-bottom:30px;
 border-top:1px solid #cdcdcd;
 border-bottom:1px solid #cdcdcd;
 margin:0 auto;
}

.graphic-h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;

}


.head {
  text-align: center;
  font-size: 3em;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.subhead {
  text-align: center;
}

.h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  font-weight: 700;
  padding-top: 20px;
  width: 100%
}

.row{
  padding-top: 20px;
}

.footer {
  background-color: black;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white; !important;
  padding: 25px;
  height: 100px;

}


.sources {
  background-color: gray;
  padding: 20px;
  border-radius: 10px;
}
