/*~~styles for my resume~~*/

body {
    font-family: 'Open Sans', arial, sans-serif;
    color: #d3d3d3;
    background-color: black;
}


.banner {
  width: 100%;
  border-bottom: 1px solid white;
}

.row {
  padding-left: 150px;
  padding-right: 150px;
}

/*headers*/

.sectionheader {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 0;
  width: 100%;
  font-size: 3em;
  text-transform: lowercase;
  background-color: black;
  font-family: georgia, serif;
  color: yellow;
  border-top: 1px solid white;
  padding-top: 10px;
}

a {
  color: #ffee00;
}


.education {
padding-left: 50px;
padding-bottom: 50px;

}

/*headshot*/
.circular {
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
}

.job{
  padding-left: 20px;
  font-weight: bold;
}

.organization{
  padding-left: 20px;
  font-style: italic;
}

.dates {
  padding-left: 20px;
}

.description {
  padding-left: 50px;
  padding-bottom: 50px;
}
