/*~~styles for my resume~~*/

body {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 12px;
    color: #444;
    font-weight:400;
}

#name{
  color: #33485e;
  text-align: center;
  text-transform: lowercase;
  font-size: 3em;
  border-style: solid;
  border-color: #33485e;
  min-width: 300px;
  width: 60%;
  border-width: 5px;
  margin: 0 auto;
}


/*headers*/

.sectionheader {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  width: 70%;
}

h2{
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  color: white;

}

/*job titles*/
h3{
  font-size: 1.5em;
  font-weight: 600;
}

/*org*/
h4{
  font-size: 1.5em;
  font-weight: 400;
}

h5{
  font-size: 1em;
  font-weight: 400;
}

li {
  font-size: 1em;
}
