.headline{
  font-size: 3em;
  font-color: black;
  font-weight: 700
  font-family: times, serif;
}

body{
font-family: helvetica, arial, sans-serif;

}

#container{
  padding-left: 20px;
  padding-right: 20px;
}

/*subhead styling: half the headline*/

.subhead {
font-size: 1.5em;
font-weight: 500;

}

.name{
  font-size: 1em;
  font-weight: 500;
}

.photo{
  text-align: center;
}
